[submodule "limine"]
	path = thirdparty/limine
	url = https://github.com/limine-bootloader/limine
	branch = v1.0-branch
[submodule "echfs"]
	path = thirdparty/echfs
	url = https://github.com/echfs/echfs
	branch = master
[submodule "ext2"]
	path = thirdparty/ext2
	url = https://github.com/Rahulpatel2991/Ext2
	branch = master
